/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --bg-image: url(../images/cover-image-dark.png);
  --bg-color: #000028;
  --name-color: #DB00FF;
  --accent-color: #FF0070;
  --section-title-color: #FF0070;
  --color-dark: #000028;
  --text-color: #F1B2CE;
  --color-button: var(--accent-color);
  --border-button-hover: 1px solid rgb(255, 0, 112, 0.4);
  --border-decor: 1px solid var(--accent-color);
  --display-span: flex;
}