/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --bg-image: url(../images/cover-image-light.png);
  --bg-color: #ffeff7;
  --name-color: #FFC2E6;
  --accent-color: #FF8DCB;
  --section-title-color: #353430;
  --color-dark: #353430;
  --text-color: #353430;
  --color-button: var(--color-dark);
  --border-button-hover: 1px solid rgb(53, 52, 48, 0.4);
  --border-decor: 1px solid var(--color-dark);
  --display-span: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-image: url(../images/cover-image-light.png);
    --bg-color: #FFF1F7;
    --name-color: #FFC2E6;
    --accent-color: #FF8DCB;
    --section-title-color: #353430;
    --color-dark: #353430;
    --text-color: #353430;
    --color-button: var(--color-dark);
    --border-button-hover: 1px solid rgb(53, 52, 48, 0.4);
    --border-decor: 1px solid var(--color-dark);
    --display-span: none;
  }

} 